/*sayyad_arsalan*/

.Collapse .btnprimary {
    color: #fff;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    text-align: center;
    margin-bottom: 0.6rem;
    font-family: 'Spartan',sans-serif;
   
}




.Collapse .content{
  
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    overflow: hidden;
   
}
.Collapse .content-parent{
    height: 0px;
    overflow: hidden;
    transition: height ease 0.3s;
}
